:root {
  --white: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
}

* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  /*font-family: 'Alata', sans-serif;*/
   font-family: 'Josefin Sans', sans-serif; 
}

img {
  display: block;
  width: 100%;
}

header {
  padding: 10px 0;
}

footer {
  background: var(--Black);
}

.container {
  margin: 0 auto;
  max-width: 967px;
}

header div.container {
  display: flex;
  flex-wrap: wrap;
}

.menu-logo {
  flex: 1;
  font-size: 2.25em;
  font-weight: bold;
  align-self: center;
  color: var(--white);
}

.menu-mobile {
  display: none;
}

.menu-nav {
  flex: 1;
  align-self: flex-end;
  padding: 10px 0;
}

.menu-ul {
  text-align: center;
}

.menu-ul li {
  display: inline-block;
  margin: 10px 10px 0 0;
  text-align: center;
}

.menu-ul li a {
  display: inline-block;
  color: var(--white);
  padding: 10px 15px;
  position: relative;
  font-family: 'Alata', sans-serif;
}

.menu-ul li a::after {
  content: "";
  display: block;
  margin: 5px auto 0;
  width: 0%;
  height: 3px;
  transition: .1s;
  background-color: var(--white);
}

.menu-ul li a:hover::after {
  width: 70%;
}

/*  introdução */

.img-introducao {
  width: calc(100vw - 17px);
  height: 95vh;
  background: url('../../images/desktop/image-hero.jpg') no-repeat center;
  background-size: cover;
  filter: grayscale(20%);
  position: absolute;
  top: 0;
  z-index: -1;
  filter: brightness(60%);
}

.introducao {
  padding: 10px 0;
  margin: 0 0 200px ;
}

.introducao h1 {
  color: var(--white);
  padding: 20px 20px;
  font-size: 4em;
  max-width: 500px;
  text-transform: uppercase;
  margin: 80px 0 50px;
  border: 5px solid var(--white);
}


/* seção VR */

.secao-vr {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0;
}

.img-vr {
  flex: 2;
}

.desc-vr {
  flex: 1;
  position: relative;
}

.desc-vr-area {
  position: absolute;
  padding: 40px 0px 0 80px;
  left: -50%;
  bottom: -0%;
  background-color: var(--white);

}

.desc-vr h2 {
  font-size: 3em;
  text-transform: uppercase;
  max-width: 500px;
}

.desc-vr p {
  margin-top: 20px;
  color: var(--Dark-Gray);
  max-width: 450px;
  padding: 0 0 10px;
}


/* seção creations */

.secao-creations {
  margin: 100px 0 200px;
}

.desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  text-transform: uppercase;
}

.desc h1 {
  font-size: 3em;
  font-weight: lighter
}

.desc a {
  letter-spacing: 2px;
  color: var(--Black);
  padding: 10px 20px;
  text-align: center;
  border: 1px solid var(--Black);
  transition: .2s;
}

.desc a:hover {
  background-color: #E6A7F7;
  transform: scale(120%);
}

.creations {
  display: flex;
  flex-wrap: wrap;
}

.creations-item {
  flex: 1 1 200px;
  text-transform: uppercase;
  height: 400px;
  margin: 30px 0px 0 0px;
  display: flex;
  align-items: flex-end;
  box-shadow: inset 0px -50px 80px 5px black;
  position: relative;
}

.creations-item::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .2s;
}

.creations-item:hover::after {
  background-color: rgba(255, 255, 255, 0.5);
}

.creations-item:hover p {
  color: black;
  z-index: 5000;
}

.creations-item p {
  font-size: 2.25em;
  padding: 20px 20px;
  color: var(--white);

}

.earth {
  background: url('../../images/desktop/image-deep-earth.jpg') no-repeat center;
  background-size: cover;
}

.arcade {
  background: url('../../images/desktop/image-night-arcade.jpg') no-repeat center;
  background-size: cover;
  margin-left: 30px;
}

.soccer {
  background: url('../../images/desktop/image-soccer-team.jpg') no-repeat center;
  background-size: cover;
  margin-left: 30px;
  margin-right: 30px;
}

.grid {
  background: url('../../images/desktop/image-grid.jpg') no-repeat center;
  background-size: cover;
}

.grid p {
  max-width: 150px;
}

.vr {
  background: url('../../images/desktop/image-from-above.jpg') no-repeat center;
  background-size: cover;
}

.pocket {
  background: url('../../images/desktop/image-pocket-borealis.jpg') no-repeat center;
  background-size: cover;
  margin-left: 30px;
}

.curiosity {
  background: url('../../images/desktop/image-curiosity.jpg') no-repeat center;
  background-size: cover;
  margin-left: 30px;
  margin-right: 30px;
}

.fisheye {
  background: url('../../images/desktop/image-fisheye.jpg') no-repeat center;
  background-size: cover;
}

/* footer */

.footer-area {
  display: flex;
  flex-wrap: wrap;
}

.footer-menu {
  padding: 40px 0;
}

.footer-ul {
  display: flex;
  flex-wrap: wrap;
}

.footer-ul li {
  display: inline-block;
  margin: 10px 10px 0 0;
  text-align: center;
}

.footer-ul li a {
  display: inline-block;
  color: var(--white);
  padding: 10px 30px 0 0;
  position: relative;
  font-family: 'Alata', sans-serif;
}

.footer-ul li a::after {
  content: "";
  display: block;
  margin: 5px auto 0;
  width: 0%;
  height: 3px;
  transition: .1s;
  background-color: var(--white);
}

.footer-ul li a:hover::after {
  width: 70%;
}

.footer-redes-sociais {
  flex: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.footer-redes-sociais ul {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0 19px
}

.footer-redes-sociais li {
  display: inline-block;
  margin: 10px 10px 0 0;
  text-align: center;
}

.footer-redes-sociais li a {
  display: inline-block;
  color: var(--white);
  padding: 10px 10px 0 0;
  position: relative;
  font-family: 'Alata', sans-serif;
}

.footer-redes-sociais li a::after {
  content: "";
  display: block;
  margin: 5px auto 0;
  width: 0%;
  height: 3px;
  transition: .1s;
  background-color: var(--white);
}

.footer-redes-sociais li a:hover::after {
  width: 70%;
}

.footer-redes-sociais p {
  color: var(--Dark-Gray);
}


/* Tablets  */

@media only screen and (max-width: 968px) {

  .img-introducao {
    width: calc(100vw - 0px);
  }

  .img-vr {
    flex: 1 1 300px;
  }

  .desc-vr {
    flex: 1 1 300px;
  }

  .desc-vr-area {
    position: static;
    top: 0;
    left: 0;
    padding: 10px;
    margin: 0 auto;
  }

  .desc-vr h2 {
    font-size: 2.25em;
    max-width: 500px;
  }
}

@media only screen and (max-width: 767px) {

  .menu-logo {
    flex: 1 1 200px;
    margin: 20px 20px;
    z-index: 3;
  }

  .menu-mobile {
    display: flex;
    align-items: center;
    margin-right: 20px;
    z-index: 3;
    cursor: pointer;
  }

  .menu-mobile img {
    z-index: 3;
  }
  
  .menu-nav {
    width: 0vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    flex: 1;
    align-self: flex-end;
    padding: 10px 0;
    background-color: var(--Black);
    transition: .1s;
  }
  
  .menu-ul {
    display: flex;
    flex-direction: column;
    margin: 100px 10px;
    align-items: flex-start;
    position: absolute;
    left: -5000px;
    text-align: center;
  }
  
  .menu-ul li {
    display: inline-block;
    margin: 10px 10px 0 0;
  }
  
  .menu-ul li a {
    display: inline-block;
    color: var(--Very-Dark-Gray);
    padding: 10px 15px;
    font-size: 1.5em;
    position: relative;
  }

  .menu-ul li a:hover {
    color: var(--white)
  }

  .introducao h1 {
    font-size: 3em
  }

  .creations {
    display: flex;
    flex-flow: column nowrap;
  }

  .creations-item {
    flex: 1 1 200px;
    text-transform: uppercase;
    height: 400px;
    margin: 10px 10px;
    display: flex;
    align-items: flex-end;
    box-shadow: inset 0px -50px 80px 5px black;
    position: relative;
  }
  
  .creations-item p {
    font-size: 2em;
    padding: 20px 20px;
    color: var(--white);
  
  }
  
  .grid p {
    max-width: 200px;
  }
  

}